//@theme "/home/Savvy/.local/share/rofi/themes/simple-tokyonight.rasi"

//@theme "/home/Savvy/.local/share/rofi/themes/squared-everforest.rasi"

//@theme "/home/Savvy/.local/share/rofi/themes/simple-tokyonight.rasi"

//@theme "/usr/share/rofi/themes/tokyonight.rasi"

@theme "/usr/share/rofi/themes/gruvbox-dark-soft.rasi"
